*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.rules-main{
    display: flex;
    flex-direction: column;
    padding-inline: 0vw;
}
.rules-title{
    text-align: center;
}
::marker{
    font-size: 15px;
    font-weight: bold;
}
.rules-info{
    list-style-position: inside;
}
.bold{
    font-weight: bold;
}
.rules-p{
    text-indent: 2rem;
}
.circle-list{
    margin-left: 4rem;
    list-style: circle;
}
.subtitle{
    padding: 4% 0%;
}
.li-1{
    padding: 2% 0%;
}
.subtitle-2{
   padding: 4% 0% 2% 0%;
}
.li-no-bold::marker{
    font-weight: normal;
}
.li-3{
    padding: 2% 0% 1% 0%;
}